{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

      <label for="confirm_password"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter Confirm Password" name="confirm_password" id="confirm_password" required><br>

      <button type="submit" class="registerbtn">Update Password</button>
    </div>
  </form>
{% endblock %}